@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-image: url(../img/Background-main.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  height: 60px;
  background-color: rgba(222, 203, 171, 0.2);
}

.Nav-links {
  list-style:none;
}

.Nav-links li {
  display: inline-block;
  padding: 0 20px;
}

li, a {
  font-family: "Nanum+Gothic", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(222, 203, 171, 1);
  text-decoration: none;
}

.Nav-links li a {
  transition: all 0.4s ease 0s;
  border: none;
  padding: 9px 25px;
  border-radius: 50px;
}

.Nav-links li a:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(222, 203, 171, 1);
}

.Contant-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%x;
  height: 619px;
}

.FoodGallery {
display: grid;
flex-direction: row;
justify-content: center;
align-items: center;
width: 1200px;
height: 560px;
margin: 0;
padding: 0;
border-radius: 50px;
background-color: rgba(222, 203, 171, 1);
}

.InsideFoodGallery {

  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);


  /* column-gap: 10px;
  row-gap: 15px;
  width: 1100px;
  height: 560px;
  margin: 0;
  padding: 0;
  background-color:white; */
}
.InsideFoodGallery > img {
  width:100%;
  height: 100%;
}


.StillLife {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 619px;
  background-color: red;
}

.LifeStyles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 619px;
  background-color: blue;
}

.About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 619px;
  background-color: green;
}

.Contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 619px;
  background-color: pink;
}