@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  background-image: url(../img/Background-main.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  height: 60px;
  background-color: rgba(222, 203, 171, 0.2);
}

.Nav__links {
  list-style:none;
}

.Nav__links li {
  display: inline-block;
  padding: 0 20px;
  
}

li, a, button {
  font-family: "Nanum+Gothic", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(222, 203, 171, 1);
  text-decoration: none;
}

.Nav__links li a {
  transition: all 0.4s ease 0s;
  border: none;
  padding: 9px 25px;
  border-radius: 50px;
  
}

.Nav__links li a:hover {
  color: white;
  background-color: rgba(222, 203, 171, 1);
}

.FoodGallery {
  width: 100px;
  height: 100px;
  background-color: black;
}



